<!-- about us section -->
    <section id="about-us" class="wrapper style1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About us</h2>
                    <p class="text-muted">We are passionate about making innovative solutions that will make someones day a bit easier. </p>

                    <p class="text-muted">Whether it is developing open source tooling which helps in the process of software development, full spectrum consultancy or a SaaS product based on subscriptions, it is all fueled by our desire to make a difference.</p>
                </div>
            </div>
        </div>
    </section>
