<!-- about us section -->
    <section id="about-us" class="wrapper style1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Over Craftsmenlabs</h2>
                    <p class="text-muted">
                      Craftsmenlabs is een productcompany voor en door gepassionerde IT-Craftsmen. Wij bouwen producten vanuit de overtuiging dat software solutions continu verbetert moeten worden. De gehele IT ontwikkel cyclus heeft onze aandacht en wij hebben hierin bovengemiddelde expertise.</p>
                </div>
            </div>
        </div>
    </section>
    <hr>
