<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Solutions</h2>
                    <p>Product-/development management en architectuur.<br/>Ondersteunende solutions voor onze producten en concepten zijn onder te verdelen in:</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-2x">
                    </span>
                    <h4 class="service-heading">Agile portfolio management</h4>
                    <p>
                      Opzetten, borgen en onderhouden van agile portfoliomanagement. Business cases, Product visions, Agile roadmaps, Portfoliomanagement, Stakeholder Management</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-2x">

                    </span>
                    <h4 class="service-heading">Development management</h4>
                    <p>
                      Agile/DevOps audits, Gefundeerde visie en roadmap voor devops, Een voorspelbaar software ontwikkelingsproces (kwaliteit en planning), Integratie tussen business, development en operations.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-2x">
                    </span>
                    <h4 class="service-heading">Architectuur</h4>
                    <p>
                      Traceren en oplossen van bottlenecks binnen architecturen, architectuur transitie en doelarchitectuur definitie, architectuur ten behoeve van faciliterende processen of testprocessen, High performance system design.</p>
                    </div>
            </div>
        </div>
            <div class="row text-center">
                <div class="flooting-text">
                    <div class="col-lg-12 ">
                     <p class="text-muted"><a href="#contact"  class="page-scroll">Contact</a></p>
                    </div>
                </div>
            </div>
    </section>
    <hr>
